<ion-view title="{{translation.Brakefluidchange}}" id="Brakefluidchange" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <form id="brakefluidchange-form15" class="list ">
            <div>
                <div class="text-center">
                    <p>{{translation.BrakefluidchangeQuest}}
                    </p>
                </div>
            </div>
            <ion-item class="range range-positive " id="brakefluidchange-range11">
                <input type="range" value="365" min="0" max="730">
            </ion-item>
        </form>
    </ion-content>
</ion-view>