<ion-view id="Coolantchange" class=" ">
    <ion-nav-title>{{translation.Coolantchange}}</ion-nav-title>
    <ion-content padding="true" class="has-header">
        <div style="margin: 0px; line-height: 150px; text-align: center; background-color: rgb(232, 235, 239);">
            <img src="img/abms/refrigerante.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>

        <div class="text-center" ng-show="isOverDue('Coolantchange')">
            <br>
            <h4  style="color:red;"> {{translation.controlOverdueMsg}} </h4>
            <button class="button button-assertive button-block" ng-click="resetCount('Coolantchange')">
                {{translation.resetCountBtn}}
            </button>
            <br>
        </div>

        <button class="button button-balanced button-block" ng-click="showRemainingDays('Coolantchange')" ng-hide="editMode">
            {{translation.showRemainDaysBtn}}
        </button>

        <div class="card text-center" style="margin-bottom: 0px;">
            <div class="item item-divider">
                <div class="item-text-wrap">
                    <p>{{translation.CoolantchangeQuest}}</p>
                </div>
            </div>
            <div class="item item-text-wrap" ng-show="editMode">
                <ion-item class="range range-positive " id="oilChange-range1">
                    <input type="range" min="0" max="700" step="50" ng-model="daysInput.value">
                </ion-item>
            </div>
            <div class="item item-divider">
                <div class="item-text-wrap">
                    <p>{{daysInput.value}} {{translation.days}}</p>
                </div>
            </div>
        </div>

        <button class="button button-balanced button-block" ng-click="editMode=true;" ng-hide="editMode">
            {{translation.edit}}
        </button>
        <button class="button button-positive button-block" ng-click="save('Coolantchange'); editMode=false;" ng-show="editMode">
            {{translation.accept}}
        </button>
        <button class="button button-positive button-block" ng-click="reset('Coolantchange'); editMode=false;" ng-show="!firstTime && editMode">
            {{translation.cancel}}
        </button>

    </ion-content>
</ion-view>
