<ion-view title="Home" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="home-list5" class=" list card">
            <ion-item id="home-list-item15" ui-sref="menu.oilChange" class="  ">OilChange</ion-item>
            <ion-item id="home-list-item16" ui-sref="menu.oilFilterChange" class="  ">OilFilterChange</ion-item>
            <ion-item id="home-list-item17" ui-sref="menu.airFilterChange" class="  ">AirFilterChange</ion-item>
            <ion-item id="home-list-item18" ui-sref="menu.cabinFilterChange" class="  ">CabinFilterChange</ion-item>
            <ion-item id="home-list-item19" ui-sref="menu.plugsChange" class="  ">PlugsChange</ion-item>
            <ion-item id="home-list-item20" ui-sref="menu.tiresChange" class="  ">TiresChange</ion-item>
            <ion-item id="home-list-item21" ui-sref="menu.dampersChange" class="  ">DampersChange</ion-item>
            <ion-item id="home-list-item22" ui-sref="menu.carWorkshopReview" class="  ">CarWorkshopReview</ion-item>
            <ion-item id="home-list-item23" ui-sref="menu.coolantchange" class="  ">Coolantchange</ion-item>
            <ion-item id="home-list-item24" ui-sref="menu.brakepadschange" class="  ">Brakepadschange</ion-item>
            <ion-item id="home-list-item26" ui-sref="menu.brakefluidchange" class="  ">Brakefluidchange</ion-item>
            <ion-item id="home-list-item25" ui-sref="timingbeltchange" class="  ">Timingbeltchange</ion-item>
        </ion-list>
    </ion-content>
</ion-view>