<ion-modal-view>
    <ion-content>
        <ion-slide-box>
            <ion-slide>
                <div class="card-help">
                    <div class="card-image">
                        <img src="img/introduction/firstSlide.png" class="image-first">
                    </div>
                    <div class="card-content">
                        <div class="card-title">
                            ¡ Welcome to Easy Driver !
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </ion-slide>
            <ion-slide>
                <div class="card-help">
                    <div class="card-image">
                        <img src="img/introduction/secondSlide1.png" class="image-second">
                    </div>
                    <div class="card-content">
                        <div class="card-title">
                            At any time, place
                        </div>
                        <div class="card-text">
                            Check the state of your car components
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </ion-slide>
            <ion-slide>
                <div class="card-help">
                    <div class="card-image">
                        <img src="img/introduction/icon-robot.png" class="image-second">
                    </div>
                    <div class="card-content">
                        <div class="card-title">
                            Keep you syncronized
                        </div>
                        <div class="card-text">
                            Maintain synchrony with the components of your car
                        </div>

                    </div>
                    <br>
                </div>
                <br>
                <br>
            </ion-slide>
        </ion-slide-box>
        <button class="button button-block button-positive" style="margin-top:5px;" ng-click="closeIntroductionModal()">
                            Get Started
                            </button>
    </ion-content>
</ion-modal-view>