<ion-side-menus enable-menu-with-back-views="true" ng-controller="homeCtrl">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu width="340" side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <form id="menu-form1" class="list ">
                <label class="item item-select " id="menu-select1">
                    <span class="input-label">{{translation.languageStr}}</span>
                    <select ng-model="data.ddlLanguage" ng-change="changeLanguage()" id="ddLng">
                        <option value="es_ES">{{translation.spa}}</option>
                        <option value="en_US">{{translation.eng}}</option>
                    </select>
                </label>
            </form>
            <form id="menu-form4" class="list">
                <ion-list class="item-text-wrap" id="menu-list3">
                    <ion-item ng-show="counter > 0">
                        <i class="icon ion-ios-bell">
                           <span class="badge badge-assertive">{{counter}}</span>    
                       </i>
                    </ion-item>

                    <a class="item item-avatar" id="menu-list-item10" ui-sref="menu.oilChange" menu-close="">
                        <img ng-if="!isOverDue('OilChange')" src="img/blue_icons/aceite.png">
                        <img ng-if="isOverDue('OilChange')" src="img/red_icons/aceite.png">
                        <h2 style="padding-top: 10px;">{{translation.OilChange}}</h2>
                    </a>

                    <a class="item item-avatar" id="menu-list-item13" ui-sref="menu.oilFilterChange" menu-close="">
                        <img ng-if="!isOverDue('OilFilterChange')" src="img/blue_icons/aceitefiltro.png">
                        <img ng-if="isOverDue('OilFilterChange')" src="img/red_icons/aceitefiltro.png">
                        <h2 style="padding-top: 10px;">{{translation.OilFilterChange}}</h2>
                    </a>

                    <a class="item item-avatar" id="menu-list-item11" ui-sref="menu.airFilterChange" menu-close="">
                        <img ng-if="!isOverDue('AirFilterChange')" src="img/blue_icons/filtroaire.png">
                        <img ng-if="isOverDue('AirFilterChange')" src="img/red_icons/filtroaire.png">
                        <h2 style="padding-top: 10px;">{{translation.AirFilterChange}}</h2>
                    </a>

                    <a class="item item-avatar" id="menu-list-item12" ui-sref="menu.cabinFilterChange" menu-close="">
                        <img ng-if="!isOverDue('CabinFilterChange')" src="img/blue_icons/habitaculo.png">
                        <img ng-if="isOverDue('CabinFilterChange')" src="img/red_icons/habitaculo.png">
                        <h2 style="padding-top: 10px;">{{translation.CabinFilterChange}}</h2>
                    </a>

                    <a class="item item-avatar" id="menu-list-item27" ui-sref="menu.plugsChange" menu-close="">
                        <img ng-if="!isOverDue('PlugsChange')" src="img/blue_icons/bujias.png">
                        <img ng-if="isOverDue('PlugsChange')" src="img/red_icons/bujias.png">
                        <h2 style="padding-top: 10px;">{{translation.PlugsChange}}</h2>
                    </a>

                    <a class="item item-avatar" id="menu-list-item28" ui-sref="menu.tiresChange" menu-close="">
                        <img ng-if="!isOverDue('TiresChange')" src="img/blue_icons/ruedas.png">
                        <img ng-if="isOverDue('TiresChange')" src="img/red_icons/ruedas.png">
                        <h2 style="padding-top: 10px;">{{translation.TiresChange}}</h2>
                    </a>

                    <a class="item item-avatar" id="menu-list-item29" ui-sref="menu.dampersChange" menu-close="">
                        <img ng-if="!isOverDue('DampersChange')" src="img/blue_icons/amortiguador.png">
                        <img ng-if="isOverDue('DampersChange')" src="img/red_icons/amortiguador.png">
                        <h2 style="padding-top: 10px;">{{translation.DampersChange}}</h2>
                    </a>

                    <a class="item item-avatar" id="menu-list-item30" ui-sref="menu.carWorkshopReview" menu-close="">
                        <img ng-if="!isOverDue('CarWorkshopReview')" src="img/blue_icons/diagnostico.png">
                        <img ng-if="isOverDue('CarWorkshopReview')" src="img/red_icons/diagnostico.png">
                        <h2 style="padding-top: 10px;">{{translation.CarWorkshopReview}}</h2>
                    </a>

                    <a class="item item-avatar" id="menu-list-item31" ui-sref="menu.coolantchange" menu-close="">
                        <img ng-if="!isOverDue('Coolantchange')" src="img/blue_icons/liquido.png">
                        <img ng-if="isOverDue('Coolantchange')" src="img/red_icons/liquido.png">
                        <h2 style="padding-top: 10px;">{{translation.Coolantchange}}</h2>
                    </a>

                    <a class="item item-avatar" id="menu-list-item32" ui-sref="menu.brakepadschange" menu-close="">
                        <img ng-if="!isOverDue('Brakepadschange')" src="img/blue_icons/pastillas.png">
                        <img ng-if="isOverDue('Brakepadschange')" src="img/red_icons/pastillas.png">
                        <h2 style="padding-top: 10px;">{{translation.Brakepadschange}}</h2>
                    </a>

                    <a class="item item-avatar" id="menu-list-item33" ui-sref="menu.brakefluidchange" menu-close="">
                        <img ng-if="!isOverDue('Brakefluidchange')" src="img/blue_icons/liquidofreno.png">
                        <img ng-if="isOverDue('Brakefluidchange')" src="img/red_icons/liquidofreno.png">
                        <h2 style="padding-top: 10px;">{{translation.Brakefluidchange}}</h2>
                    </a>

                    <a class="item item-avatar" id="menu-list-item34" ui-sref="menu.timingbeltchange" menu-close="">
                        <img ng-if="!isOverDue('Timingbeltchange')" src="img/blue_icons/correa.png">
                        <img ng-if="isOverDue('Timingbeltchange')" src="img/red_icons/correa.png">
                        <h2 style="padding-top: 10px;">{{translation.Timingbeltchange}}</h2>
                    </a>
                </ion-list>
            </form>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
