<ion-view title="{{translation.OilFilterChange}}" id="OilFilterChange" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin: 0px; line-height: 150px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>

        <button class="button button-balanced button-block" ng-click="showRemainingDays()" ng-hide="editMode">
            {{translation.showRemainDaysBtn}}
        </button>

        <div class="card text-center" style="margin-bottom: 0px;">
            <div class="item item-divider">
                <div class="item-text-wrap">
                    <p>{{translation.OilFilterChangeQuest}}</p>
                </div>
            </div>
            <div class="item item-text-wrap" ng-show="editMode">
                <ion-item class="range range-positive " id="oilChange-range1">
                    <input type="range" min="0" max="700" step="50" ng-model="daysInput.value">
                </ion-item>
            </div>
            <div class="item item-divider">
                <div class="item-text-wrap">
                    <p>{{daysInput.value}} {{translation.days}}</p>
                </div>
            </div>
        </div>

        <button class="button button-balanced button-block" ng-click="editMode=true;" ng-hide="editMode">
            {{translation.edit}}
        </button>
        <button class="button button-positive button-block" ng-click="save(); editMode=false;" ng-show="editMode">
            {{translation.accept}}
        </button>
        <button class="button button-positive button-block" ng-click="editMode=false;" ng-show="!firstTime && editMode">
            {{translation.cancel}}
        </button>

    </ion-content>
</ion-view>