<ion-view id="PlugsChange" class=" ">
    <ion-nav-title>{{translation.PlugsChange}}</ion-nav-title>
    <ion-content padding="true" class="has-header">
        <div style="margin: 0px; line-height: 150px; text-align: center; background-color: rgb(232, 235, 239);">
            <img src="img/abms/bujias.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>

        <div class="text-center" ng-show="isOverDue('PlugsChange')">
            <br>
            <h4  style="color:red;"> {{translation.controlOverdueMsg}} </h4>
            <button class="button button-assertive button-block" ng-click="resetCount('PlugsChange')">
                {{translation.resetCountBtn}}
            </button>
            <br>
        </div>

        <button class="button button-balanced button-block" ng-click="showRemainingDays('PlugsChange')" ng-hide="editMode">
            {{translation.showRemainDaysBtn}}
        </button>

        <div class="card text-center" style="margin-bottom: 0px;">
            <div class="item item-divider">
                <div class="item-text-wrap">
                    <p>{{translation.PlugsChangeQuest}}</p>
                </div>
            </div>
            <div class="item item-text-wrap" ng-show="editMode">
                <ion-item class="range range-positive " id="oilChange-range1">
                    <input type="range" min="{{rangeValues.min}}" max="{{rangeValues.max}}" step="{{rangeValues.step}}" ng-model="timeInput.value">
                </ion-item>
            </div>
            <div class="item item-divider">
                <div class="item-text-wrap">
                    <p ng-hide="editMode">{{timeInput.value}} {{translation.days}}</p>
                    <p ng-show="editMode">{{timeInput.value}}</p>
                </div>
                <div class="button-bar bar-positive padding-top" ng-show="editMode">
                    <a class="button button-small" ng-click="clicked('d')" ng-class="{'active': time_type == 'd'}">Días</a>
                    <a class="button button-small" ng-click="clicked('m')" ng-class="{'active': time_type == 'm'}">Meses</a>
                    <a class="button button-small" ng-click="clicked('y')" ng-class="{'active': time_type == 'y'}">Años</a>
                </div>
            </div>
        </div>

        <button class="button button-balanced button-block" ng-click="changeTypeTime(); editMode=true;" ng-hide="editMode">
            {{translation.edit}}
        </button>
        <button class="button button-positive button-block" ng-click="save('PlugsChange'); editMode=false;" ng-show="editMode">
            {{translation.accept}}
        </button>
        <button class="button button-positive button-block" ng-click="reset('PlugsChange'); editMode=false;" ng-show="!firstTime && editMode">
            {{translation.cancel}}
        </button>

    </ion-content>
</ion-view>
